* {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    background-color: #0d0221;
}

.ant-menu{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0) !important;
}

.ant-menu-item-selected {
    color: #fff;
    background: rgba(0,0,0,0) !important;
}